<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Вход на сайт</title>
</head>
<body>
    <header class="header">
        <img src="../static/images/logo.png" alt="logo" width="150" height="150">
        
      </header>
    <h1>Зайди на сайт</h1>
    <main class="login">
        {% block content %}
        <form action="{{ url_for('login') }}" method="POST" class="login">
            <p class="error">{{error}}</p>
            <label for="email">
                <input class="form__input" type="email" name="email" id="email" placeholder="Введите e-mail" required>
           </label>
           <label for="password">
            <input class="form__input" type="password" name="password" id="password" placeholder="Введите ваш пароль" required maxlength="20">
           </label>

                 <button class="form__button">Войти</button> 

                <p>Если ты не зарегестрирован тогда нажми на эту кнопку </p>
                <a href="/regist" class="form__button">Зарегистрироваться</a>
        </form>
        {% endblock %} 
</body>
</html> 
